{% extends 'layout/menu.html.twig' %}

{% block main %}

    <div id="homepageImg"
         class="homepage background w-100 flex-column justify-content-between align-items-center p-2 d-flex {# {% if tricksPage != null %}display-none{% else %}display-flex{% endif %} #}">
        <div></div>
        <div class="catchPhrase">
            <p class="h1">
                Dévalez les pentes avec style grâce à notre site de figures de snowboard : explorez,
                apprenez et inspirez-vous pour des descentes exceptionnelles !
            </p>
        </div>
        <div class="w-100 d-flex">
            <a id="btnTricks" href="#listTricks"><span id="arrowDownward" class="material-symbols-outlined arrow">arrow_downward</span></a>
        </div>
        <div class="w-100 d-flex">
            <a href="#layoutMenu"><span id="arrowUpward"
                                        class="material-symbols-outlined arrow d-none">arrow_upward</span></a>
        </div>

    </div>

    <div id="homepageTricks"
         class="background w-100 flex-column justify-content-between align-items-center p-2 d-flex {# {% if tricksPage != null %}display-flex{% else %}display-none{% endif %} #}">

        <div id="listTricks" class="row w-100" data-id="1">
        </div>
        <div id="loadSpin" class="card-body py-1 py-lg-0">
            <div class="d-flex justify-content-center align-items-center">
                <div class="spinner-border" role="status">
                    <span class="sr-only"></span>
                </div>
            </div>
        </div>
        <div id="bottom">
            <button id="showMoreButton" class="btn btn-primary" data-number="">Charger plus de tricks</button>
            {% if app.user != null %}
                <a href="{{ path('tricksAdd') }}">
                    <button class="btn btn-primary">Ajouter un tricks</button>
                </a>
            {% endif %}
        </div>

    </div>

{% endblock %}


{% block scripts %}
    {{ parent() }}
    <script>

        $(document).ready(function () {
            tricksList(1, 10);
        });

        $("#arrowDownward").click(function () {
            $("#homepageImg").slideUp("slow");
            $("#homepageTricks").slideDown({
                start: function () {
                    $(this).css({
                        display: "flex"
                    })
                }
            });
            $("#pageTitle").html('Tricks');
        });

        $("#arrowUpward").click(function () {
            $("#homepageImg").slideDown({
                start: function () {
                    $(this).css({
                        display: "flex"
                    })
                }
            });
            $("#homepageTricks").slideUp("slow");
            $("#pageTitle").html('Accueil');
        });

        function deleteTricks(name, url) {

            if (confirm("Voulez-vous vraiment supprimer le trick : " + name + " ?")) {
                window.location.href = url;
            }

        }

        function tricksList(start, number) {
            $('#loadSpin').removeClass('d-none');
            $.ajax({
                url: '{{ path('tricksList') }}',
                method: "POST",
                data: {
                    'start': start,
                    'number': number,
                },
                success: function (data) {
                    $("#listTricks").append(data);
                    $('#loadSpin').addClass('d-none');
                    $('#showMoreButton').attr('data-number', parseInt(start) + parseInt(number));
                }
            });
        }

        $('#showMoreButton').on('click', function () {
            let start = $('#showMoreButton').attr('data-number');
            tricksList(start, 10)
        });

        $(window).scroll(function () {
            var scrollPosition = $(window).scrollTop();

            if (scrollPosition > 1) {
                // Appliquer des styles lorsque le défilement dépasse 100 pixels
                $("#arrowUpward").removeClass("d-none");
                $("#arrowDownward").addClass("d-none");
            } else {
                // Réinitialiser les styles lorsque le défilement est inférieur à 100 pixels
                $("#arrowDownward").removeClass("d-none");
                $("#arrowUpward").addClass("d-none");
            }
        });


    </script>
{% endblock %}