{% extends 'layout/menu.html.twig' %}

{% block titlePage %}Page non trouvé{%endblock%}

{% block main %}
    <div class="background fullpage d-flex justify-content-center align-items-center">
        <div class="card p-4">
            <p>Une erreur interne du serveur s'est produite. Nous nous excusons pour le désagrément.</p>
            <p>Veuillez réessayer plus tard ou <a href="/">retourner à la page d'accueil</a>.</p>
        </div>
    </div>
{% endblock %}