{% extends 'layout/menu.html.twig' %}

{% block titlePage %}Page non trouvé{%endblock%}

{% block main %}
    <div class="background fullpage d-flex justify-content-center align-items-center">
        <p class="text-dark font-weight-bold h1">Désolé, la page que vous recherchez n'a pas été trouvée.</p>
    </div>
{% endblock %}